html{
    height: 100%;
}
Body{
    position: relative!important;
    min-height: 100%;
    padding-bottom: 5rem!important;
}

/*Navbar CSS*/
.mr-auto, .mx-auto {
    margin-top: 12px!important;
    margin-bottom: -6px!important;
}
/* Product CSS Start*/
.product-item{
    background: #4e555b;
}
.child-rows{
    padding-left: 20px;
    border-left: 1px solid #dfdfdf;
    background: #FFF;
}
.child-rows a.list-group-item.list-group-item-action{
    border-left: 0px!important;
}
.list-group-item.active{
    z-index: 2;
    color: #fff;
    background-color: #33b4ff;
    border-color: #33b4ff;
    border-radius: 0px!important;
}
/* Product CSS End*/

/*

Override CSS
*/

.bg-light{
    background-color: #33b4ff!important;
}

.margin-top-20{
    margin-top: 20px;
}
.feature-img{
    max-height: 200px;
}

.pointer{
    cursor: pointer;
}

.footer-bottom{
    padding: 20px;
    margin-top: 20px;
    background: #33b4ff;
    position: relative!important;
    right: 0;
    left: 0;
    bottom: 0;
}

